@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-verde-kurve: #65B32E;
  --color-azul-kurve: #0C4450;
  --color-gris-kurve: #F1F1F1;
}

:root {
  --font-noto-sans: 'Noto Sans', system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  --font-aleo: 'Aleo', serif;
}

@layer base {
  html, body {
    font-family: var(--font-noto-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}